:root {
  --hue: 145;
  --delta: 60;
}

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(calc(var(--hue) + var(--delta)), 43%, 5%);
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.row {
  margin-bottom: 1vw;
}
.row:last-child {
  margin-bottom: 0;
}

.b0,
.b1 {
  display: inline-block;
  width: 6vw;
  height: 6vw;
  margin-right: 0.5vw;
  border-radius: 50%;
}

.b0:nth-child(4),
.b1:nth-child(4) {
  margin-right: 2vw;
}

.row.hours .digit {
  background-color: hsl(calc(var(--hue) + var(--delta)), 43%, 50%);
}
.row.mins .digit {
  background-color: hsl(var(--hue), 43%, 50%);
}
.row.secs .digit {
  background-color: hsl(calc(var(--hue) - var(--delta)), 43%, 50%);
}

.b0 {
  opacity: 0.2;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  font-weight: 300;
  padding: 5px;
  font-size: 18px;
  background-color: hsl(calc(var(--hue) + var(--delta)), 43%, 10%);
  color: hsl(calc(var(--hue) + var(--delta)), 43%, 50%);
}

a {
  text-decoration: none;
  color: hsl(calc(var(--hue) + var(--delta)), 43%, 50%);
}
a:hover {
  color: hsl(calc(var(--hue) + var(--delta)), 43%, 80%);
}
footer > * {
  padding-right: 20px;
}

footer > *:last-child {
  padding-right: 0;
}

.heart {
  font-size: 0.8em;
}
